<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2 padding-top-bottom">
            <div class="text-right">
                <a href="#">Back</a>
            </div>
           

            <h2 class="text-danger">Disclaimer</h2>
            <p>Posted rates are based on applicants with Equifax credit/beacon scores of at least 660 and other credit factors. If your credit/beacon score is not at least 660, rates and cashback may be subject to change. Certain terms and conditions apply – O.A.C.</p>
            <p>By accessing or using the www.doyourownmortgage.com or www.dyom.com and affiliated doyourownmortgage domains and websites (the "DYOM Website"), you acknowledge that you have read, understood and agree to accept and be bound by the terms and conditions set out below. If you do not accept the terms and conditions set out below, please discontinue use of this DYOM Website.
Do Your Own Mortgage, also known as DoYourOwnMortgage, (“DYOM”) endeavours to keep the cashback amounts and interest rates posted on the DYOM Website accurate, but we cannot guarantee they are accurate, complete or current at all times. Information, cashback amounts and rates are subject to change and updates without notice to users and the DYOM Website may not immediately reflect those changes and may contain inaccuracies. </p>

          
            <p>Information contained on this DYOM Website is for information purposes only and is not intended to provide mortgage advice or interest rate advice and should not be relied upon in that respect. Each user’s situation is unique and due to unknown factors, credit-worthiness, accuracy of information submitted and external factors, the applicability of any statement or comment that is made on this website may affect each client differently.</p>

            

            <p>DYOM assumes no liability for any inaccurate, delayed or incomplete information, nor for any actions taken in reliance thereon and is not responsible in any manner for direct, indirect, special or consequential damages, however caused, arising out of the use of this DYOM Website, including if you transmit confidential or sensitive information to us or if we communicate such information to you at your request over the Internet. All information on this DYOM Website is provided on an “as is” basis, without warranty of any kind, either express or implied. </p>
      
            <p>Users of this DYOM Website are permitted to copy or download information contained within the site for their personal use. Users of this DYOM Website may not republish or reproduce any information gained from this website in any manner whatsoever, nor for the purpose of obtaining competitive rates, without the prior written consent of DYOM. The interest rates posted on the DYOM Website are not to be construed as a written quote from DYOM.</p>

         
            <p>All information on this website is to be used at your own risk. DYOM and all other individuals connected to the DYOM website assume no responsibility for any consequence that may result from any information that is downloaded or copied from this website. If your use of this website or the materials or related websites herein results in any damages, whether directly or indirectly, DYOM and all other individuals connected to this website are not responsible for those damages.</p>

            
            <p>DYOM strives to keep all the information on this site as accurate, complete and up-to-date as possible. All information contained herein is provided in an "as is" basis without any warranty or representation of any kind. In no event shall DYOM or the directors, officers, shareholders or employees therein, be liable for any direct, indirect or consequential damages arising out of or in any way connected with the use of this DYOM Website or related websites or with the delay or inability to use this website.</p>
            <p>The DYOM Website may contain hyperlinks to other websites which are not owned and operated by DYOM. DYOM does not have control of such websites and does not endorse or have any association with their operators as to any products or services that may be featured on those websites. DYOM will not hold any responsibility for any direct or indirect consequences suffered from the use of those websites. Your use of these links is solely at your own risk. No endorsement of any third party products or services is expressed or implied by any information, material or content referred to or included on, or linked from or to this website. </p>

            <p>All services described by this site are subject to conditions, exclusions and limitations as established by DYOM and DYOM reserves the right to limit or edit information herein.
            </p>

            <strong>Email Disclaimer</strong>

            <p>Regular, unencrypted email communications over the Internet are not secure or private. DYOM is not liable if you send confidential or personal information to us over the Internet using regular, unencrypted email and that information subsequently becomes public through no fault of ours.</p>
 
<p>Email communications, including any information transmitted with it is intended only for the use of the addressee(s) and is confidential. If you are not an intended recipient or responsible for delivering the message to an intended recipient, any review, disclosure, conversion to hard copy, dissemination, production or other use of any part of this communication is strictly prohibited, as is the taking or omitting of any action in reliance upon this communication.</p>
 
<p>Please note that if your email address is a non-personal email address (i.e., a work email address), such emails can be reviewed and inspected by 3rd parties such as employers and/or technology departments. Accordingly, the information in such emails may be viewed by 3rd parties who have nothing to do with our transaction</p>
 
<p>If you receive an email communication in error or without authorization, please notify DYOM immediately by return email to the sender or to info@doyourownmortgage.com, and permanently delete the entire communication from any computer or other storage medium.</p>
 
 
<p><strong>Privacy Disclaimer</strong></p>
 

<p>DYOM respects and maintains high standards to protect the privacy and confidentiality of clients' personal information. The collection, use and disclosure of personal information, as it relates specifically to an individual client or customer, is governed by The Canadian Personal Information Protection and Electronic Documents Act (PIPEDA). DYOM obtains and uses personal information (such as name, address, etc.) for the following purposes:</p>
<ul>
    <li>to satisfy mortgage lender requirements in order to process your mortgage application;</li>
    <li>to assist in confirming identity in order to sign documents mortgage transactions.</li>
</ul>

<p>DYOM will be using personal information collected for the purposes described above. By retaining the services of DYOM and by providing your personal information, it is understood that you are consenting to the use of your information only with respect to the mortgage services provided.</p> 

<p>If you have any questions or concerns regarding your personal information, please contact DYOM directly at info@doyourownmortgage.com.</p>

            
            <div class="text-right">
                <a href="#">Back</a>
            </div>
        </div>
    </div>
</div>